#tasks-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tasks-header {
  flex: 0.2;
  background-color: #525252;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasks-content {
  background-color: #3100a2;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 2.5rem;
  gap: 1rem;
}

.titleBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.taskBox {
  width: 100%;
  height: auto;
}

.selected-list-banner {
  background-color: blue;
  height: 7rem;
  width: 35rem;
  border-radius: 15rem;
}

.task-list-title {
  background-color: #d8b2ff;
  height: 10rem;
  border-radius: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.task-list-title>div {
  height: auto;
  width: 90%;
  text-align: center;
  font-size: 3rem;
  line-height: 3rem;
  word-break: break-all;
}

.new-tasks-container {
  border-radius: 2rem;
  height: auto;
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.new-task-btn {
  width: auto;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  text-align: left;
  cursor: pointer;
  align-self: flex-start;
  color: white;
}

.tasks-creation {
  box-sizing: border-box;
  padding: 1.5rem;
}

.task-details {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: column;
}

.genTask {
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}

.new-task {
  width: 70%;
  font-weight: bold;
  font-size: 1.5rem;
}

.task-display {
  background-color: #b266ff;
  display: flex;
  flex-direction: column;
  height: 3rem;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  border-radius: 1rem 1rem 1rem 1rem;
}

.task-display-extended {
  height: 6.5rem;
}

.task-duedate-box {
  width: 5rem;
  height: 3rem;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-buttons {
  width: 4rem;
  height: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.task-delete-box,
.task-edit-box,
.task-expand-box,
.task-star-box {
  width: 1.4rem;
  height: 1.4rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.task-delete-box>img,
.task-edit-box>img,
.task-expand-box>img,
.task-star-box>img {
  height: 100%;
  width: 100%;
}

.task-star {
  fill: #b266ff;
  transition: fill 0.5s ease-in-out;
}

.task-star:hover {
  fill: #FFFF00;
}

.task-star-filled {
  fill: #FFFF00;
}

.task-delete {
  fill: #b266ff;
  transition: fill 0.5s ease-in-out;
}

.task-delete:hover {
  fill: #FF0000;
}

.task-checkbox {
  clip-path: circle(46% at 50% 50%);
  width: 1.5rem;
  height: 1.5rem;
}

.task-title-box {
  height: 2rem;
  flex: 1;
  overflow: hidden;
  font-size: 1rem;
}

.task-title-box-checked {
  text-decoration: line-through;
  text-decoration-color: white;
}

.titleBox .description-display {
  background-color: #808080;
  box-sizing: border-box;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
  height: 2rem;
  border-radius: 0 0 1rem 1rem;
  min-height: 1.5rem;
  max-height: 3.5rem;
}

.description-display {
  font-size: 1rem;
  word-break: break-all;
}